<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tyree's Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Tyree Stevenson</div>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
         <li><a href="#About">About</a></li>
         <li><a href="#Experience">Experience</a></li>
         <li><a href="#Projects">Projects</a></li>
         <li><a href="#Contact">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="bg"></div>
<div class="jumbotron">
</div>
<div id="page1">
  <a id="Home" class="smooth"></a>
    About page content goes here.
</div>

<div id="page2">
  <a id="About" class="smooth"></a>
    About page content goes here.
</div>

<div id="page3">
  <a id="Experience" class="smooth"></a>
    Portfolio page content goes here.
</div>

<div id="page4">
    <a id="Projects" class="smooth"></a>
    Projects are here
</div>

<div id="page5">
  <a id="Contact" class="smooth"></a>
    Contact page content goes here.
</div>

</body>

</html>
